<h1><%= @treatment.name %></h1>
<p><%= @treatment.description %></p>
<h3>Price:</h3>
<p><%= number_to_currency(@treatment.price) %></p>
<h3>Duration:</h3>
<p><%= @treatment.duration %> minutes</p>
<br>
<%= link_to "Edit This Treatment", edit_spa_treatment_path(@treatment.spa, @treatment) %><br>
<%= link_to "Delete This Treatment", spa_treatment_path(@treatment.spa, @treatment), :method => :delete %><br>
<br>
<%= link_to "Back to #{@treatment.spa.name}", spa_path(@treatment.spa) %>