<h1>Edit Technician - <%= @spa.name %></h1>
<%= form_for @technician do |f| %>
    <%= f.hidden_field :spa_id %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.submit %>
<% end %>