<h1>Edit Technician for <%= @spa.name %></h1>
<%= form_for [@spa, @technician] do |f| %>
    <%= f.hidden_field :spa_id %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.submit %>
<% end %>