<h1><%= @technician.name %></h1>
<p>Works for: <%= @technician.spa.name %> - <%= @technician.spa.phone_number %></p>
<%= link_to "Edit This Technician", edit_spa_technician_path(@technician.spa, @technician) %><br>
<%= link_to "Delete This Technician", spa_technician_path(@technician.spa, @technician), :method => :delete %><br>
<%= link_to "Back to #{@technician.spa.name}", spa_path(@technician.spa) %>