<h1>Spa Index</h1>
<p>Search by Zipcode:</p>
<%= form_tag(zipcode_search_path) do %>
    <%= text_field_tag :zipcode %>
    <%= submit_tag "Enter Zipcode" %>
<% end %>
<br>
<% @spas.each do |spa| %>
    <div class="spa_listing">
        <h3><%= link_to spa.name, spa_path(spa) %></h3>
        <%= render partial: "spa_address", locals: {spa: spa} %>
    </div>
<% end %>
<br>
<p>Spa Owner? - <%= link_to "Create Spa", new_spa_path %></p>