<h1><%= @spa.name %></h1>

<h2>Address</h2>
<p><%= @spa.address1 %></p>
    <% if @spa.address2 %>
        <p><%= @spa.address2 %></p>
    <% end %>
<p><%= @spa.city %>, <%= @spa.state %> <%= @spa.zip %></p>
<h2>Phone</h2>
<p><%= @spa.phone_number %></p>

<h2>Technicians</h2>
<ul>
    <% @spa.technicians.each do |technician| %>
        <li><%= link_to technician.name, spa_technician_path(@spa, technician) %></li>
    <% end %>
</ul>
<%= link_to "Add a Technician", new_spa_technician_path(@spa) %>
<h2>Treatments</h2>
<ul>
    <% @spa.treatments.each do |treatment| %>
        <li>
            <h3><%= link_to treatment.name, spa_treatment_path(@spa, treatment) %></h3>
            <p><%= treatment.description %></p>
            <p>$<%= treatment.price %> - <%= treatment.duration %> min</p>
        </li>
    <% end %>
</ul>
<%= link_to "Add a Treatment", new_spa_treatment_path(@spa) %><br>
<br>
<%= link_to "Edit This Spa", edit_spa_path(@spa) %><br>
<%= link_to "Delete This Spa", spa_path(@spa), :method => "delete" %><br>
<br>
<%= link_to "Back to Spa Index", spas_path %>

