<h1><%= current_user.name %>'s Appointment</h1>
<%= render partial: "info", locals: {appointment: @appointment} %>
<br>
<%= link_to "Edit Appointment", edit_spa_appointment_path(@appointment.spa, @appointment) %><br>
<%= link_to "Delete Appointment", user_appointment_path(current_user, @appointment), :method => :delete %><br>
<br>
<%= link_to "Back to Appointments", user_appointments_path(current_user) %>